nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 15px;}
    header{
        display: flex;
flex-direction: row;
justify-content:flex-start;
    }
    a{
    color: black;
    }
    .miku{
        width: 100px;
        height: 100px;
        background-color: deepskyblue;
        display: flex;
        flex-direction:column ;
        
margin: 20px;
    }
    .productoz{
        display: flex;
        flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    
    }
    .teto{
        width: 100px;
        height: 100px;
        background-color: brown;
        display: flex;
        flex-direction:column;
        margin: 20px;
        margin-right: 20px;
    
    }
    .mikU{
        border-style: solid;
        border-color: deepskyblue;
        background-color: deepskyblue;
        display: flex;
        flex-direction:column ;
    
    }
    .tetO{
border-style: solid;
border-color: brown;
background-color: brown;  
display: flex;
flex-direction: column;  
}
.kaito{
width: 100px;
height: 100px;
background-color:blue ;
display: flex;
flex-direction: column;
margin: 20px;

}
.kaitO{
border-style: solid;
border-color: blue;
background-color: blue;
display: flex;
flex-direction: column;
}
.miku-mini{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.miku-minI{
    border-style: solid;
    border-color: skyblue;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}
.tazita{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.tazitA{
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
body{
background-color: peachpuff;
}
main{
border-style: solid;
border-width: 1px;
border-color: black;

}
.logo{
height: 120px;
border-radius: 50%;
}

    
